.hexagon {
  position: relative;
  width: 10rem;
  height: 17.32rem;
  background: #64f305;
  border-radius: 1em / 0.5em;
  margin-left: 100px;
}

.hexagon::before,
.hexagon::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background: inherit;
  border-radius: inherit;
}

.hexagon::before {
    transform: rotate(60deg);
}

.hexagon::after {
    transform: rotate(-60deg);
}